* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* common */
.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

// header
.header {
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 14px;
}
